/*
    default.css
*/

body {
    background-color: white;
    color: black;
    font-family: Meiryo, "Hiragino Kaku Gothic Pro", "MS Gothic", Osaka, sans-serif;
    text-align: left;
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
    line-height: 1.3;
}

address {
    text-align: right;
    font-size: x-small;
}

h1 {
    font-size: 200%;
    text-align: left;
    color: white;
    background-color: #33a;
    padding: 0.4em;
    margin: 0.2em 0em 0.5em 0em;
}

img.sitelogo {
    vertical-align: middle;
}

h2 {
    font-size: 150%;
    text-align: left;
    border-left: 10px solid #33a;
    padding-left: 0.5em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 150%;
    text-align: left;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

/* tmp */
h4 {
    font-size: 120%;
    text-align: left;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* never use */
h5, h6 {
    background-color: red;
}

p {
    line-height: 1.4;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0px;
}

span.compileerror {
    color: red;
    font-weight: bold;
}

pre {
    line-height: 1.1;
    background-color: #eee;
    padding: 10px;
    font-weight: normal;
}

blockquote {
    background-color: transparent;
    padding: 4px;
    margin-left: 3em;
    font-weight: normal;
}

ul {
    margin-left: 0px;
    padding-left: 2em;
}

li {
    margin-left: 0px;
    padding-left: 0px;
}

ol li {
    margin-bottom: 10px;
}

dl {
    margin-left: 0em;
}

dt {
  font-weight: bold;
}


dl.methodlist dt {
    font-family: sans-serif;
}

dd {
    margin: 0.3em 0em 1em 4em;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
    vertical-align: top;
    background-color: #AAC;
    border: 3px solid white;
    padding: 0.3em;
}

td {
    text-align: left;
    vertical-align: top;
}

table.entries {
    width: 100%;
}

table.entries tr {
    /* border: 1px solid gray; */
    text-align: left;
    vertical-align: top;
}

td.signature {
    padding: 0;
    margin: 0;
    background-color: #DDD;
    border: 3px solid white;
    width: 30%;
    height: 100%;
}

td.signature a {
    display: block;
    padding: 0.3em;
    width: 95%;
    height: 100%;
}

td.description {
    padding: 0.3em;
    background-color: #EEE;
    border: 3px solid white;
}

td.library {
    width: 6em;
    padding: 0.5em;
    background-color: #DDD;
    border: 3px solid white;
}

code {
    font-family: monospace;
}

a {
    font-weight: bold;
    text-decoration: none;
}
a:link {
    color: #33a;
    background-color: transparent;
}
a:visited {
    /* color: #666666; */
    color: #33a;
    background-color: transparent;
}
a:hover, a:focus, a:active {
    color: #fff;
    background-color: #33a;
}

form {
    padding: 0px;
    margin: 0px;
}

hr {
    color: #33a;
    height: 1px;
}

@media print {
    body {
        font-family: osaka,'MS Mincho',serif;
        line-height: 1.5;
    }
    div.menu {
        display: none;
    }
    div.footer {
        display: none;
    }
    h1 {
        color: black;
        background-color: white;
        border-bottom: 2px solid #33a;
        padding-bottom: 0em;
    }
    a, a:link, a:visited {
        color: #33a;
        font-weight: normal;
    }
}

#top_search {
 position: absolute;
 top: 15px; 
 right: 10px; 
}

#main{
  margin : 0 0 0 20% ; 
  padding : 0 ;
  height : 100% ;
  overflow: inherit;
}

.rightlist {
  padding-bottom : 10px;
}

#leftbox {
  position : fixed ; 
  left : 0px ; 
  top : 0px ; 
  width : 20% ; 
  height : 100%;
  margin : 0 ; 
}

.method-heading {
  width: 99%;
  color: black;
  background-color: #eee;
  border-left: 5px solid #666;
  padding: 0.2em 0.5em 0.2em 0.5em;
  display: block;
  overflow: hidden;
}

.method-heading code{
  float: left;
}


.kindinfo {
  float: right;
}

.method-description{
  padding-bottom: 10px;
  margin-bottom: 90px ; 
  border-bottom: 1px solid #666;
}

#leftlist-bottom {
  height : 35%;
}

#leftlist-up {
  height : 65%;
}

.leftlist {
  font: 85%/1.2 Arial, Helvetica, sans-serif;
  overflow: auto;
  top : 0px ; 
  margin : 0 ; 
  padding : 0 ;
}

.leftlist h2 {
    border: 0;
    margin: 0;
    padding: .2em .5em .1em;
    background-color: #33a;
    font: small-caps 1.2em Georgia, serif;
    color: white;
    border-bottom: 1px solid gray; 
}

.leftlist form input {
    margin: .4em;
    margin-bottom: 0;
    width: 90%; 
}


.leftlist ul {
    margin: 0;
    padding-left: 4px;
}

.leftlist li {
  white-space: nowrap;
  list-style-type: none;
}

.abstract p,
.abstract ul,
.abstract pre,
.abstract dl,
.abstract ol{
  margin-left: 2em;
}
